@import "./nodes.less";

* {
  margin: 0;
  font-family: "Quicksand", Helvetica, Arial, sans-serif;
  user-select: none;
}

@headerHeight: 50px;
@grayNum: 70;

#header,
#footer {
  height: @headerHeight;
  width: 100%;
  position: absolute;
  z-index: 1;

  display: flex;
  align-items: center;

  background-color: rgb(@grayNum, @grayNum, (@grayNum + 20));
  color: white;

  * {
    padding: 0 0.6em;
    user-select: none;
  }
}

@headerHeight: 7vh;

#header {
  height: @headerHeight;
}

#footer {
  height: 5vh;
  bottom: 0%;
  justify-content: space-around;
}

#main-container {
  // z-index: auto;
  position: absolute;
  top: @headerHeight;

  width: 100vw;
  height: (100vh - @headerHeight - 4vh);

  background-color: black;
}

.half {
  width: 50%;
  height: 99%;
  display: inline-block;
  overflow: hidden;
}

.left {
  background-color: white;
}

button:hover {
  cursor: pointer;
}

#modal-container {
  background: rgba(0.2, 0.2, 0.2, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  #modal-window {
    padding: 18px;
    background: white;
    position: absolute;
    border-radius: 8px;

    @width: 350px;
    margin: 0 auto;
    width: @width;
    top: calc(@headerHeight + 10px);

    #modal-help {
      text-align: center;
      margin: -2rem auto 0.3rem;
    }

    #close-button {
      display: block;
      margin: 1rem auto 0;
    }

    #close-window {
      height: 1.5rem;
      width: 1.5rem;
      position: relative;
      left: calc(@width - 1.5rem);
    }

    .tutorial-subheader {
      margin-bottom: 0.3rem;
    }
    .tutorial-paragraph {
      margin-bottom: 0.5rem;
    }

    .modal-hr {
      margin: 10px auto;
    }
  }
}
