.node, #addNodesTab {
  padding: 0.4em 0.6em;
  border: 1px solid black;
  box-shadow: 0 0 3px lightgray;
  border-radius: 5px;
  background-color: white;
  width: fit-content;
}

.selected {
  box-shadow: 0 0 4px gray;
}

path.react-flow__edge-path:hover {
  stroke-width: 3;
}

#addNodesTab {
  position: absolute;
  left: 1.2vh;
  top: 1.2vh;
  background-color: white;
  z-index: 5;
}

.editFormContainer {
  h2 {
    text-align: center;
    margin-bottom: 5px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    * {
      padding: 3px 5px;
    }
    label {
      width: 90%;
      display: flex;
      justify-content: space-between;
      // button {
      //   border-radius: 50%;
      // }
    }
  }
}

.planetNode, .moonNode {
  width: 10em;
}
